---
layout: null
title: Checklist - Ritual Diário do Sucesso
description: Um guia simples e prático para transformar sua rotina diária em um treinamento intensivo para o sucesso.
---

<!doctype html>
<html>
  {% include head.html %}

  <body class="launch">
    <div class="full-image" style="background-image: url('{{ site.baseurl }}/images/morning.jpg')"></div>

    <div class="container main-content">
      <section class="content">
          <div class="checklist-cover">
            <img src="{{ site.baseurl }}/images/checklist-sucesso.png" alt="Checklist">
          </div>

          <div class="checklist-content">
            <h1>Você recebeu um link para o download do checklist em seu e-mail.</h1>

            <div class="thanks-text">
              <p>
                Nós enviamos o link de download por e-mail porque acreditamos que apenas pessoas verdadeiramente
                interessadas irão colocar seu email real, e dessa forma poderão aproveitar muito mais
                o conteúdo deste checklist.
              </p>
            </div>
          </div>
      </section>
    </div>

    <div class="container other-thanks-text">
      <h2>Então a partir de agora você precisa fazer 3 coisas:</h2>

      <ol>
        <li>Baixar o checklist;</li>
        <li>Ler e colocar em prática;</li>
        <li>Enviar um email para <a href="mailto:oi@metaideia.com.br">oi@metaideia.com.br</a> contando seus resultados ;)</li>
      </ol>

      <h3>E para saber mais sobre o nosso trabalho:</h3>

      <ul>
        <li>Siga nosso perfil no <a href="https://instagram.com/metaideia">Instagram</a></li>
        <li>Curta nossa página no <a href="https://facebook.com/metaideia">Facebook</a></li>
        <li>Leia os artigos em nosso <a href="http://metaideia.com.br">Blog</a></li>
      </ul>
    </div>

    {% include footer.html %}
  </body>
</html>
