---
layout: null
title: Série Mindcolors
description: Quadros para decorar não só a sua parede, mas a sua mente.
---

<!doctype html>
<html>
  {% include head.html %}

  <body>
    <div class="container main-content">
      <section class="content big-text">
        <p class="text-warning">Importante: leia com atenção para saber todos os detalhes sobre os quadros.</p>

        <h1>O retorno sobre o investimento no seu sucesso</h1>

        <p class="feat">Se você não investir ao menos o tempo que leva ler esse texto, qual o seu comprometimento com o sucesso?</p>

        <p>E não tem problema nenhum não se comprometer com o sucesso. Desde que você esteja completamente satisfeito com a vida que tem. Porque no fim das contas, o que importa é ter equilíbrio entre aquilo que você quer e o esforço que faz pra conquistar.</p>

        <p>O fato é que <b>alcançar o sucesso não é pra todo mundo</b>. E isso fica muito claro pra mim quando eu vejo esses números:</p>

        <img src="{{ site.baseurl }}/images/pages/yt-whinder.png" alt="Youtube Whindersson Nunes">
        <img src="{{ site.baseurl }}/images/pages/yt-erico.png" alt="Youtube Érico Rocha">

        <p>Não me leve a mal. O Whindersson é um humorista genial, e é uma das pessoas que alcançou o sucesso. Mas enquanto 19 milhões de pessoas estão comprometidas em não perder o próximo vídeo dele, apenas 315 mil resolveram investir seu tempo para ouvir o que um dos maiores mentores de empreendedorismo do Brasil tem a dizer.</p>

        <p class="feat">O sucesso é para poucos, porque poucas pessoas estão interessadas nele.</p>

        <p>Deixa eu contar uma história. Eu venho de uma família de classe média, mas meus pais tiveram origem humilde e conquistaram uma posição social melhor tirando notas boas e indo para a faculdade. Logo, eu e meus dois irmãos crescemos ouvindo que esse era o caminho seguro para o sucesso.</p>

        <p>E foi exatamente o caminho que eu segui. O problema é que não demorou muito pra eu me sentir insatisfeito, mesmo com um salário um pouco acima da média. Dentro das minhas expectativas, aquilo era fracasso.</p>

        <p>E <b>existem duas formas de acabar com o sentimento de fracasso</b>: diminuir as expectativas e se conformar. Ou aumentar o esforço e usar a insatisfação como combustível pra mudar a realidade. E eu escolhi a segunda opção.</p>

        <p>Mas como eu não fui educado pra ser empreendedor, estava carregado de crenças limitantes como "o dinheiro não traz felicidade", "é impossível se dar bem sendo honesto", ou mesmo "a culpa é do governo".</p>

        <p>Ideias que fazem o teu próprio cérebro te sabotar, por uma simples questão de coerência. Afinal, você não pode discordar de você mesmo. E <b>a ferramenta mais poderosa que sua mente utiliza pra te impedir de conquistar coisas que não estão alinhadas com o seu mindset é a procrastinação.</b></p>

        <p>Por experiência eu acabei descobrindo que redefinir o mindset não é uma tarefa fácil, mas é simples. Você só precisa ler e reler todos os dias os mesmos conceitos, até que a sua mente comece a substituir as ideias antigas por essa nova realidade.</p>

        <p>E <b>uma forma eficiente de resolver isso é deixando visíveis o tempo todo os conceitos que você precisa fixar na sua mente</b>. Seja rabiscando essas ideias em pedaços de papel e colando na sua frente. Ou de um jeito mais sofisticado, decorando seu ambiente com quadros que irão te manter motivado, inspirado e focado em um novo mindset.</p>

        <p class="feat">Pensando nessa estratégia, a gente preparou uma coleção exclusiva de quadros com algumas das frases mais curtidas no Metaideia.</p>

        <img src="{{ site.baseurl }}/images/pages/quadros-frente.jpg">

        <p><b>São 5 quadros em tamanho 30x40cm</b>, com moldura preta lisa e vidro anti-reflexo. Nos detalhes do acabamento, o fundo selado em preto para evitar o mofo é um diferencial.</p>

        <p>E aqui vai o meu bônus pra você: <b>o frete é grátis</b>! Além disso, as 50 primeiras pessoas que comprarem irão receber um brinde exclusivo: <b>um par de canecas do Metaideia</b>.</p>

        <img src="{{ site.baseurl }}/images/pages/quadros-caneca.jpg">

        <p><b>Mas fique atento: as vendas se encerram na sexta-feira dia 19 às 13h</b>. E a partir daí iremos começar a montar e preparar as peças para envio. Por ser um trabalho manual, precisaremos de <b>12 dias para produção, antes de começarmos a enviar os quadros pelos Correios</b>. Depois desse período você receberá o código de rastreamento para acompanhar o seu status de entrega. Já o tempo de entrega dos Correios pode variar de acordo com o seu endereço.</p>

        <p>E não se preocupe, nós vamos estar por aqui. Através do email <a href="mailto:oi@metaideia.com.br">oi@metaideia.com.br</a> você poderá falar com a gente sempre que precisar para tirar qualquer dúvida.</p>

        <p>O valor da coleção é de <b>12 parcelas de R$ 39,86 no cartão</b> ou <b>R$ 397,00 à vista</b>. E os pagamentos são feitos através da plataforma do <b>Pagseguro</b>.</p>

        <p><b>Então a partir de agora você já pode fazer o seu pedido</b>. Preencha os seus dados com atenção no formulário abaixo, principalmente seu email e telefone. Eles serão essenciais para que possamos manter contato.</p>

        <div class="form-cart">
          <h2>Coleção Mindcolors</h2>

          <ul class="text-bold">
            <li>5 quadros 30x40cm</li>
            <li>2 canecas</li>
            <li>Frete grátis</li>
          </ul>

          <p>
            <span class="price">R$ 397,00 à vista</span>
            <span class="subprice">ou 12 parcelas de R$ 39,86</span>
          </p>

          <p>Preencha o formulário e clique em <b>continuar</b>. Você será redirecionado para o ambiente de pagamentos do Pagseguro.</p>

          <form action="http://hike.metaideia.com.br/api/payments" method="post">
            <input type="hidden" name="data[redirect_success_url]" value="http://metaideia.com.br/quadros-sucesso">
            <input type="hidden" name="data[redirect_error_url]" value="http://metaideia.com.br/quadros-erro">

            <label>
              Seu nome
              <input type="text" name="data[name]" required>
            </label>

            <label>
              Seu e-mail
              <input type="email" name="data[email]" required>
            </label>

            <label>
              Seu telefone com DDD
              <input type="text" name="data[phone]" required>
            </label>

            <br>

            <button class="button button-launch" type="submit">CONTINUAR</button>
          </form>
        </div>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
