---
layout: null
title: Série Mindcolors
description: Quadros para decorar não só a sua parede, mas a sua mente.
---

<!doctype html>
<html>
  {% include head.html %}

  <body>
    <div class="container main-content">
      <section class="content big-text">
        <h3>Vendas encerradas. Se você gostou da ideia dos quadros e ficou com vontade de ter uma coleção pra você, deixe a gente saber: envie um email para <a href="mailto:oi@metaideia.com.br">oi@metaideia.com.br</a>.</h3>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
