<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
  <div class="author">
    <p>
      <a href="{{ site.baseurl }}/sobre">
        <img src="{{ site.baseurl }}/images/author.jpg" alt="author" class="author">
      </a>
    </p>

    <p>Se alimentar diariamente das ideias que precisam fazer parte do seu <strong>mindset</strong> é a única maneira de garantir o seu sucesso ;)</p>
  </div>

  <div class="social-icons">
    <a target="_blank" href="https://facebook.com/{{ site.facebook }}">{% include social-icon.html icon="Facebook" %}</a>
    <a target="_blank" href="https:/instagram.com/{{ site.instagram }}">{% include social-icon.html icon="Instagram" %}</a>
  </div>
</aside>
