<aside class="sidebar {% if page.push_sidebar_down %}push{% endif %}">
  <div class="author">
    <p>
      <a href="{{ site.baseurl }}/sobre">
        <img src="{{ site.baseurl }}/images/author.jpg" alt="author" class="author">
      </a>
    </p>

    <p>Se alimentar constantemente das ideias que precisam fazer parte do seu <strong>mindset</strong> é a melhor forma de treinar sua mente para o sucesso ;)</p>
  </div>

  <div class="social-icons">
    <a target="_blank" href="https://facebook.com/{{ site.facebook }}">{% include social-icon.html icon="Facebook" %}</a>
    <a target="_blank" href="https:/instagram.com/{{ site.instagram }}">{% include social-icon.html icon="Instagram" %}</a>
  </div>

  <form action="{{ site.newsletter_action }}" method="post">
    <h3>Junte-se a nós!</h3>

    <p>Inscreva-se para receber conteúdos exclusivos:</p>

    <input type="email" name="email" placeholder="Seu melhor email" required>
    <input type="submit" value="Cadastrar">
  </form>
</aside>
