---
layout: default
---

<article class="post">
  {% include post-heading.html post=page post_page=true %}

  {% if page.featured_image %}
    <div class="image">
      <img src="{{ page.featured_image }}" alt="{{ page.title }}">
    </div>
  {% endif %}

  <div class="recipe-body">
    {{ content }}
  </div>

  {% if page.suggestions %}
    <div class="cta">
      <h2>Essa sacada fez sentido pra você?</h2>

      <p>Aproveite o embalo e encontre outras sacadas interessantes ;)</p>

      <div class="button"><a href="{{ site.baseurl}}/sacadas">Ver mais</a></div>
    </div>
  {% endif %}

  {% if site.disqus_shortname and page.comments %}
    <div id="disqus_thread"></div>

    <script>
      var disqus_shortname = '{{ site.disqus_shortname }}';
      var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.url }}";
        this.page.identifier = "{{ page.id }}";
      };
      (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  {% endif %}
</article>
